<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="classNameConfigSection" type="GenericDefs.DotNet.ClassNameConfigSection, GenericDefs" allowDefinition="Everywhere" allowLocation="true" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
    <section name="Problem" type="Problem" allowDefinition="Everywhere" allowLocation="true" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <classNameConfigSection xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <taskTypeConfigElement taskType="Brilliant" problem="Brilliant_Algebra_AlgebraCollection"/>
    <!--<taskTypeConfigElement taskType="ProjectEuler" problem="ProjectEuler__100__91_100_Problem96"/>-->
  </classNameConfigSection>
  <Problem xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <BrilliantProblem>Brilliant_Algebra_AlgebraCollection</BrilliantProblem>
    <PEProblem>ProjectEuler__100__91_100_Problem96</PEProblem>
  </Problem>
<!--Brilliant
Brilliant_JustCalculation
Brilliant_QuickCalculation
Brilliant_NumberTheory_Collection
Brilliant_NumberTheory__4_ReciprocalOfReciprocals
Brilliant_Algebra_AlgebraCollection
Brilliant_ComputerScience_Collection
Brilliant_ComputerScience_Collection1
Brilliant_Combinatorics_CollectionOfProblems
Brilliant_Combinatorics_CountingProblems
Brilliant_Combinatorics_PathAndGridWalkingProblems
Brilliant_Logic_LogicCollectionOfProblems
Brilliant_Logic_Cryptarithms
Brilliant_Geometry_CollectionOfProblems
Brilliant_Calculus_CalculusCollection
-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="MaxDegreeOfParallelism" value="3"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
